@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;&display=swap');

:root {
    /* Fonts */
    /* --primary-font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
    --primary-font: 'Roboto',Helvetica,Arial,sans-serif;
    --secondary-font: 'Roboto',Helvetica,Arial,sans-serif;

    /* Colors */
    --primary-color: #11978c;
    --secondary-color: hsl(143, 85%, 58%);
    --primary-color-70: rgba(17, 153, 142, .7);
    --secondary-color-70: rgba(56, 239, 125, .7);
    --gray-1: #25292dff;
    --gray-2: #40474fff;
    --gray-3: #65707bff;
    --gray-4: #b0b8bfff;
    --gray-5: #dde0e3ff;
    
    /* Paddings */
    --pd-container: 60px 20px;
    --pd-card: 30px;
    --pd-btn: 1.25rem;

    /* Margins */
    --m-header: 50px;
    --m-text: 10px;
    
    /* Gaps */
    --gap-items-1: 50px;
    --gap-items-2: 25px;
    --gap-items-3: 15px;
    --gap-navbar-items: 50px;
    --gap-text: 10px;
    
    /* Radius */
    --border-radius: .45rem;
    --btn-border-radius: .65rem;
}

@media (max-width: 768px) {
    :root {
        /* Paddings */
        --pd-container: 40px 20px;
        
        /* Margins */
        --m-header: 40px;
        
        /* Gaps */
        --gap-items-1: 40px;
        --gap-navbar-items: 40px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    font-family: var(--secondary-font);
    color: var(--gray-1);
    position: relative;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--primary-font);
}

p, span, h3, h4, h5, h6 {
    color: var(--gray-2);
}

small {
    color: var(--gray-3);
}

/* Default Classes */
/* Default Classes */
/* Default Classes */

.bg-gradient {
    background: var(--primary-color);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--primary-color), var(--secondary-color));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.visually-hidden{
    /* This class hides an element in all devices except for the Screen Readers */
    position: absolute!important;
    width: 1px!important;
    height: 1px!important;
    padding: 0!important;
    margin: -1px!important;
    overflow: hidden!important;
    clip: rect(0,0,0,0)!important;
    white-space: nowrap!important;
    border: 0!important;
}

.wrap-reverse {
    flex-wrap: wrap-reverse !important;
}

@media (min-width: 768px) {
    .hidden-when-md {
        display: block !important;
    }
    .display-when-md {
        display: none !important;
    }
}
@media (max-width: 768px) {
    .hidden-when-md {
        display: none !important;
    }
    .display-when-md {
        display: block !important;
    }
}

/* End Default Classes */
/* End Default Classes */
/* End Default Classes */



/* Components */
/* Components */
/* Components */

.container{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: var(--pd-container);
}
.container-small {
    max-width: 700px;
}

.see-more-link {
    text-decoration: none;
    color: var(--gray-2);
}
.see-more-link:hover {
    text-decoration: underline;
    /* background: var(--primary-color);  fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, var(--primary-color), var(--secondary-color));  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, var(--primary-color), var(--secondary-color)); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
}
.see-more-link i {
    margin-left: 5px;
    font-size: .8rem;
}

.separator {
    width: 50px;
    border-bottom: 1px solid var(--gray-1);
    padding-bottom: 20px;
    margin: auto auto 20px auto;
}

.section-header {
    margin-bottom: var(--m-header);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.section-header h2 {
    text-transform: uppercase;
    letter-spacing: .25rem;
    font-weight: 700;
    margin-bottom: var(--m-text);
}
.section-header p {
    color: var(--gray-3);
}
.section-footer {
    margin-top: var(--m-header);
}

.my-btn,
.my-btn-white-outline{
    text-decoration: none;
    width: fit-content;
    text-transform: uppercase;
    letter-spacing: .25rem;
    font-size: .85rem;
    padding: var(--pd-btn);
    border-radius: var(--btn-border-radius);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: var(--gap-text);
    cursor: pointer;
}
.my-btn i,
.my-btn-white-outline i{
    font-size: 1rem;
}
.my-btn svg,
.my-btn-white-outline svg{
    width: .8rem;
    height: auto;
}
.my-btn {
    color: white;
    background: var(--primary-color);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--primary-color), var(--secondary-color));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.my-btn-white-outline{
    color: white;
    border: 1px solid white;
}
.my-btn-white-outline svg path {
    fill: white;
}

.floating-btn {
    text-decoration: none;
    cursor: pointer;
    position: fixed;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 995;
}
.floating-btn.show-btn {
    opacity: 1;
    visibility: visible;
}

#back-to-top-btn {
    width: 25px;
    height: 25px;
    background: var(--gray-1);
    border: none;
    border-radius: 50%;
    bottom: 30px;
    right: 30px;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#back-to-top-btn svg {
    width: .8rem;
    height: auto;
}
#back-to-top-btn svg path {
    fill: white;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
}
.navbar ul{
    list-style: none;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: var(--gap-navbar-items);
}
.navbar ul a{
    text-decoration: none;
    color: var(--gray-2);
    text-transform: uppercase;
    letter-spacing: .25rem;
    font-size: .75rem;
    display: flex;
    align-items: center;
    gap: var(--gap-text);
}
.navbar ul a i{
    font-size: 1.25rem;
}
.navbar ul a svg{
    width: 1rem;
    height: auto;
}
.navbar ul a svg path{
    fill: var(--gray-2);
}

.sidebar {
    width: 100vw;
    height: 100vh;
    top: 0;
    right: -100vw;
    color: white;
    position: fixed;
    background: var(--primary-color);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--primary-color), var(--secondary-color));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    z-index: 999;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
}
.sidebar.open-sidebar {
    right: 0;
}
.sidebar .container {
    max-width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.sidebar ul {
    list-style: none;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: var(--gap-items-1);
}
.sidebar ul a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: .25rem;
    font-size: .75rem;
    display: flex;
    align-items: center;
    gap: 10px;
}
.sidebar ul a i {
    font-size: 1.25rem;
}
.sidebar ul a i{
    font-size: 1.25rem;
}
.sidebar ul a svg{
    width: 1rem;
    height: auto;
}
.sidebar ul a svg path{
    fill: white;
}
.sidebar .social-list {
    margin: var(--gap-items-1) 0 0 0;
    flex-direction: row;
    align-items: center;
}
@media (min-width: 768px) {
    .sidebar {
        width: 350px;
        right: -350px;
    }
}

#open-sidebar-btn,
#close-sidebar-btn {
    width: 35px;
    height: 35px;
    margin-left: auto;
    background: transparent;
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    border: none;
    font-size: 1.25rem;
}
#open-sidebar-btn svg,
#close-sidebar-btn svg{
    width: 1rem;
    height: auto;
}
#open-sidebar-btn{
    color: var(--gray-3);
    /* border: 1px solid var(--gray-3); */
    z-index: 995;
}
#open-sidebar-btn svg path{
    fill: var(--gray-3);
}
#close-sidebar-btn {
    color: white;
    /* border: 1px solid white; */
}
#close-sidebar-btn svg path {
    fill: white;
}

#open-sidebar-floating-btn {
    width: 25px;
    height: 25px;
    background: var(--gray-1);
    border: none;
    border-radius: 50%;
    right: 30px;
    top: 30px;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#open-sidebar-floating-btn svg {
    width: .8rem;
    height: auto;
}
#open-sidebar-floating-btn svg path {
    fill: white;
}

#overlay {
    width: 0;
    height: 100%;
    position: fixed;
    z-index: 997;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    overflow-x: hidden;
    text-align: center;
    opacity: 0;
    transition: opacity 1s;
}
#overlay.active {
    width: 100%;
    opacity: 0.8;
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: var(--border-radius);
    position: relative;
    background: var(--primary-color);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--primary-color), var(--secondary-color));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}
.icon :is(i, svg){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.icon i {
    font-size: 1.25rem;
}
.icon svg {
    width: 1.25rem;
    height: auto;
}
.icon svg :is(path, g) {
    fill: white;
}

.tooltip {
    position: relative;
}
.tooltip .tooltip-text {
    visibility: hidden;
    position: absolute;
    background-color: var(--gray-1);
    color: white;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    z-index: 1;
    opacity: 0;
    transition: opacity .6s;
}
.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}
.tooltip .tooltip-top {
    bottom: 125%;
    left: 50%;
    transform: translatex(-50%);
}
.tooltip .tooltip-top::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--gray-1) transparent transparent transparent;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-items-1);
}
.row .col {
    flex: 1 0 0%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
}
@media (max-width: 768px) {
    .row .col {
        flex: 100%;
    }
}

.timeline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-items-2);
    width: 100%;
    /* max-width: 700px; */
}
.timeline a {
    color: inherit;
}
.timeline .timeline-items {
    width: 100%;
}
.timeline .timeline-items .timeline-item {
    display: flex;
}
.timeline .timeline-items .timeline-item > div {
    /* flex: 1 0 0%; */
    padding-bottom: var(--gap-items-2);
    display: flex;
    flex-direction: column;
    gap: var(--gap-text);
}
.timeline .timeline-items .timeline-item:last-child > div {
    padding-bottom: 0;
}
.timeline .timeline-items .timeline-item .col-right {
    text-align: left;
    flex: 75%;
}
.timeline .timeline-items .timeline-item .col-left {
    text-align: right;
    flex: 25%;
    font-size:.8rem;
}
.timeline .timeline-items .timeline-item .timeline-separator {
    padding-right: 20px;
    border-right: 1px solid var(--gray-3);
    margin-right: 20px;
    position: relative;
}
.timeline .timeline-items .timeline-item .timeline-separator .mark {
    width: 15px;
    height: 15px;
    border: 1px solid var(--gray-3);
    border-radius: 50%;
    background-color: var(--gray-4);
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(50%);
}
/* @media (max-width: 768px) {
    .timeline .timeline-items .timeline-item {
        font-size: .8rem;
    }
} */

.card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-items-1);
}
.card > div {
    flex: 1 0 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card > div:first-child {
    align-items: flex-end;
    text-align: right;
}
.card > div:last-child {
    align-items: flex-start;
    text-align: left;
}
.card .card-img {
    position: relative;
    overflow: hidden;
    min-height: 200px;
}
.card .card-img img {
    width: 100%;
    height: auto;
    position: absolute;
    object-fit: cover;
}
.card .card-img .card-img-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, .1);
    border-radius: var(--border-radius);
}
.card .card-content a {
    text-decoration: none;
    color: var(--gray-2);
    display: flex;
    align-items: center;
    gap: var(--gap-text);
}
.card .card-content a:hover{
    text-decoration: underline;
}
@media (max-width: 768px) {
    .card {
        gap: var(--gap-items-2);
    }
    .card > div {
        flex: 100%;
        align-items: center !important;
        text-align: center !important;
    }
}
@media (min-width: 768px) {
    
}

/* End Components */
/* End Components */
/* End Components */



/* Sections */
/* Sections */
/* Sections */

#header {
    width: 100%;
    min-height: 100vh;
}
#header .container{
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    position: relative;
}
#header .jumbotron{
    /* margin: var(--pd-container) 0; */
}
#header .jumbotron h1 {
    font-weight: normal;
}
#header .jumbotron img {
    margin-bottom: var(--m-text);
}
#header .jumbotron h1 strong{
    font-size: 3.5rem;
    font-weight: 700;
}
#header .jumbotron p{
    color: var(--gray-3);
}
@media (max-width: 768px) {
    #header .jumbotron h1 strong{
        font-size: 2.5rem;
    }
}

#profile .section-content img {
    width: 100%;
    max-width: 350px;
    height: auto;
    /* margin-left: auto; */
}
#profile .section-content p {
    width: 100%;
    max-width: 350px;
    text-align: left;
}
@media (max-width: 768px) {
    #profile .section-content img {
        width: 70%;
    }
    #profile .section-content p {
        text-align: center;
    }
}

#infos address {
    font-style: normal;
}
#infos .info-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: var(--gap-items-3);
}
#infos .info-card a {
    text-decoration: none;
    color: var(--gray-3);
}

#skills .section-content {
    display: flex;
    flex-direction: column;
    gap: var(--gap-items-1);
}
#skills .skills-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: var(--gap-items-2);
}
#skills .section-footer p {
    max-width: 500px;
}

#experience .section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: var(--gap-items-2);
}

#portfolio .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--gap-items-1);
}
#portfolio svg {
    width: .8rem;
}

#cv .cv-card{
    width: 100%;
    padding: var(--pd-card);
    background: var(--primary-color-70);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--primary-color-70), var(--secondary-color-70)), url("../assets/image/img-cv.webp");  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--primary-color-70), var(--secondary-color-70)), url("../assets/image/img-cv.webp"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* -webkit-mask-image: linear-gradient(to right, var(--primary-color-70), var(--secondary-color-70)); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: var(--border-radius);
}
#cv .cv-card header{
    margin-bottom: 0;
    align-items: center;
    text-align: center;
    color: white;
}
#cv .cv-card header p{
    color: white;
}
@media (max-width: 768px) {
    #cv .cv-card{
        /* justify-content: center;
        text-align: center; */
        background-position: right;
    }
    /* #cv .cv-card header{
        align-items: center;
        text-align: center;
    } */
}

#footer {
    background-color: var(--gray-3);
    color: white;
    margin-top: var(--pd-container);
}
#footer .navbar ul a :is(span, i) {
    color: white;
}
#footer .navbar ul a svg path {
    fill: white;
}
#footer .footer-bar {
    background-color: var(--gray-1);
    padding: 20px;
    text-align: center;
}
#footer .footer-bar small {
    color: white;
}


/* End Sections */
/* End Sections */
/* End Sections */


/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {}