@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    /* Fonts */
    --primary-font: 'Roboto', sans-serif;

    /* Colors */
    --primary-color: #11998E;
    --secondary-color: #38EF7D;
    --gray-1: #263138ff;
    --gray-2: #425561ff;
    --gray-3: #6d8a9cff;
    --gray-4: #b6c5cdff;
    --gray-5: #dbe2e6ff;
    
    /* Paddings */
    --pd-container: 50px;

    /* Margins */
    --mg-header: 50px;
    --gap-elements: 50px;
}

@media (max-width: 768px) {
    :root {
        /* Paddings */
        --pd-container: 25px;
    
        /* Margins */
        --mg-header: 25px;
        --gap-elements: 25px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: var(--primary-font);
    color: var(--gray-1);
    overflow-x: hidden;
    position: relative;
}

p, span {
    color: var(--gray-2);
}

small {
    color: var(--gray-3);
}

section header {
    margin-bottom: var(--mg-header);
}

/* Default Classes */
/* Default Classes */
/* Default Classes */

.bg-gradient {
    background: var(--primary-color);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--primary-color), var(--secondary-color));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: var(--pd-container) 1rem;
}

.separator {
    width: 50px;
    border-bottom: 1px solid var(--gray-1);
    padding-bottom: 20px;
    margin: auto auto 20px auto;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}

@media (min-width: 768px) {
    .hidden-when-md {
        display: block !important;
    }
    .display-when-md {
        display: none !important;
    }
}
@media (max-width: 768px) {
    .hidden-when-md {
        display: none !important;
    }
    .display-when-md {
        display: block !important;
    }
}

/* End Default Classes */
/* End Default Classes */
/* End Default Classes */



/* Components */
/* Components */
/* Components */

.navbar {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
}
.navbar ul{
    list-style: none;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 50px;
}
.navbar ul a{
    text-decoration: none;
    color: var(--gray-3);
    text-transform: uppercase;
    letter-spacing: .25rem;
    font-size: .75rem;
    display: flex;
    align-items: center;
    gap: 10px;
}
.navbar ul a i{
    font-size: 1.25rem;
}

.open-sidebar-btn{
    width: 35px;
    height: 35px;
    margin-left: auto;
    background: transparent;
    color: var(--gray-3);
    border: 1px solid var(--gray-3);
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-elements);
}
.row .col {
    flex: 1 0 0%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
}
@media (max-width: 768px) {
    .row .col {
        flex: 100%;
    }
}

/* End Components */
/* End Components */
/* End Components */



#header {
    width: 100%;
    min-height: 100vh;
}
#header .container{
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    position: relative;
}

#header .jumbotron{
    margin: var(--pd-container) 0;
}
#header .jumbotron h1 {
    font-weight: 300;
}
#header .jumbotron img {
    margin-bottom: 10px;
}
#header .jumbotron h1 strong{
    font-size: 3.5rem;
    font-weight: 700;
}

#profile .content img {
    width: 100%;
    max-width: 350px;
    height: auto;
    margin-left: auto;
}
#profile .content p {
    width: 100%;
    max-width: 350px;
    margin-right: auto;
    text-align: left;
}
@media (max-width: 768px) {
    #profile .content img {
        margin: auto;
    }
    #profile .content p {
        margin: auto;
        text-align: center;
    }
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}